@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/en-us/learn/modules/deploy-run-container-app-service">Deploying ASP.NET web app using docker image</a>.</p>
    <p>3rd push checking for automatic image update using webhooks</p>
    <p>5th push checking for automatic image update using webhooks &Aacute; release pipeline/p>
</div>
